
nav ul {
    list-style: none;
    text-align: right;
    margin:0;
    padding:0;
}

nav li {
    font-size: 1.2em;
    line-height: 30px;
    height: 30px;
    display:inline-block;
    margin:1.5%;
}

nav a{
    text-decoration: none;
    color:white;
    display: block;
}

nav li:hover{
    font-weight: bold;
    font-size: 1.4em;
}

body{
    background-repeat: no-repeat;
    background-position: center, center fixed;
    background-size: cover;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-family: geneva;
    text-align: center;
    font-size: 75px;
    color: white;
}

.front-container{
    margin-top: 10%;
    margin-left:10%;
    margin-right:10%;
}


